    /*.footer{display:none} */
    /*main*/
    .main{
        color:#BFFFE6;
        position:relative;
        z-index: 1
    }
    .pw_field{
        width:300px;
        margin:200px auto 200px;
    } 

    .pw_field h2{
        text-align: center;
        display:block;
        margin:30px auto 5px;
    }
    .pw_field p{
        text-align: center;
        margin-bottom: 20px;
    }


    .find_pw input{
        display:block;
        margin:10px auto 20px;
        border:1px solid #4CBFAE ; 
        background-color:#fff; 
        padding:20px;
        border-radius:10px;
        width:100%
    }

    .find_pw button{
            display: block;
            margin: 0 auto 20px;
        }
    button[type="submit"]{
        padding:10px 90px;
        background-color:#008638;
        border-radius: 10px;
        color:#BFFFE6;
    }
    button[type="submit"]:hover{
        background-color:#4CBFAE;
    }