 .main{ position: relative;
            z-index:1;
            margin: auto;
            color:#BFFFE6;
        }
        .GotoCenter{
            width:811px;
            position:relative;
            margin:auto
        }
        .reservh2{
            width:811px; height:139px;
            background:url(../images/reserve_h2.png) no-repeat;
            text-indent:-9999px;
            margin:50px auto 80px;
        }
        .con_can_a{ 
            width:122px; height:18px;
            background:url(../images/confirm_cancel_a.png) no-repeat;
            text-indent: -9999px;
            display: block;
            position:absolute;
            top:-120px;
            left:344px;
        }
        .process{
            width: 630px; height:150px;
            margin: 0 auto 50px;
            align-items: center;

        }
        .protext_1{
            position:absolute;
            font-size: 16px;
            top:100px;
            left:80px;
        }
        .protext_2{
            position:absolute;
            font-size: 16px;
            top:100px;
            left:370px;
        }
        .protext_3{
            position:absolute;
            font-size: 16px;
            top:100px;
            left:610px;
        }
        .select_box{
            width:360px;
            margin:0 auto 30px;
        }

        .tentative{
            width:1000px;
            height:400px;
        }
        .List_div{
            width: 800px;
            margin:auto;
            padding-bottom: 5px;
            background-color:rgba(2,2,2,0.3);
            border-radius: 10px;
        }
        /*여기서는 테마 예약시간 박스 꾸미기에요 */

        .theme_box1{
            width:800px;
            padding: 15px;
            display:flex;

        }
        .theme_pic{width:200px; overflow: hidden;}
        .theme_pic img{width:100%; height:auto; transition-duration:0.3s}
        .theme_pic img:hover{transform: scale(1.2, 1.2); transition-duration:0.5s}
        .time_Area{
            padding:10px;
        }
        .partySize{font-size: 14px;}

        .horror>img{width:24px; height:24px;}
        .adult>img{width:24px; height:24px;}
        .outdoor>img{width:24px; height:24px;}
        .tag_txt{
            margin: 10px auto 10px;
        }
        .reserv_time{
            display:flex;
            flex-wrap: wrap;
            width:600px;
            align-items: center;
            overflow:auto;
            white-space: normal;
        }
        .reserv_time>li{
            width:80px; height:60px;
            background-color:#008848;
            border-radius: 10px;
            text-align: center;
            margin:5px;
        }
        .reserv_time>li:hover{
            background-color:#912121;
        }
        .time{color:#BFFFE6; font-weight:bold;}
        .off{ display:none;}